main {
    margin: 3em;
    background: #efefef;
    padding: 2em;
    border: 1px solid #aaa;
}

h1 {
    padding-top: 0;
    margin-top: 0;
}
button {
    background-color: #ba02b4;
    border: 2px solid #ba02b4;
    color: #fff;
    padding: 5px 50px;
}

button:hover {
    background-color: #94018f;
    border: 2px solid #94018f;
    cursor: pointer;
}

.positive {
    color: darkgreen;
}

.negative {
    color: darkred;
}
